<md-dialog style="width: 500px" class="col">
    <div class="row align-center-center" style="height: 80px; box-shadow: 2px 2px #E5E5E5">
        <h1>{{title}}</h1>
    </div>

    <form class="col modal-content" ng-submit="task_insert()">

        <div class="row">
            <img src="{{type_logo(task_type)}}" style="width: 20px; height: 20px; margin: 8px 16px"/>
            <md-input-container>
                <label>Тип</label>
                <md-select ng-model="task_type" required>
                    <md-option ng-repeat="(key, value) in task_types" ng-value="key">{{value}}</md-option>
                </md-select>
            </md-input-container>
        </div>


        <div class="row">
            <md-button class="md-icon-button">
                <md-icon md-svg-src="img/title.svg"></md-icon>
            </md-button>
            <md-input-container class="flex">
                <label>Название</label>
                <input ng-model="task_title" type="text" required minlength="3" autocomplete="off">
            </md-input-container>
        </div>

        <div class="row">
            <md-button class="md-icon-button">
                <md-icon md-svg-src="img/description.svg"></md-icon>
            </md-button>
            <md-input-container class="flex">
                <label>Описание</label>
                <textarea ng-model="task_description" type="text" required minlength="3" autocomplete="off"></textarea>
            </md-input-container>
        </div>

        <div class="row">
            <md-button class="md-icon-button">
                <md-icon md-svg-src="img/revolution.svg"></md-icon>
            </md-button>
            <md-input-container class="flex">
                <label>Дней на выполнение</label>
                <input ng-model="task_days" type="number" min="1" max="60" required>
            </md-input-container>
            <md-content class="mini-button" md-ink-ripple ng-click="task_days = 1">1д</md-content>
            <md-content class="mini-button" md-ink-ripple ng-click="task_days = 2">2д</md-content>
            <md-content class="mini-button" md-ink-ripple ng-click="task_days = 3">3д</md-content>
            <md-content class="mini-button" md-ink-ripple ng-click="task_days = 4">4д</md-content>
            <md-content class="mini-button" md-ink-ripple ng-click="task_days = 5">5д</md-content>
            <md-content class="mini-button" md-ink-ripple ng-click="task_days = 10">10д</md-content>
        </div>

        <div class="col" style="position:relative;">
            <label><b>Руководители:</b> (Создают задачи и принимают работу)</label>
            <md-contact-chips
                    ng-model="managers"
                    md-contacts="contactsSearch($query)"
                    md-contact-name="name"
                    md-contact-image="img"
                    md-contact-email="email"
                    placeholder="Введите фамилию..."
                    secondary-placeholder="Введите фамилию...">
            </md-contact-chips>
        </div>

        <div class="col" style="position:relative;">
            <label><b>Работники:</b> (Выполняют задачи и отправляют на проверку)</label>
            <md-contact-chips
                    ng-model="workers"
                    md-contacts="contactsSearch($query)"
                    md-contact-name="name"
                    md-contact-image="img"
                    md-contact-email="email"
                    placeholder="Введите фамилию..."
                    secondary-placeholder="Введите фамилию...">
            </md-contact-chips>
        </div>

        <div class="row" style="margin-top: 20px">
            <span class="flex error-message">{{task_insert_message}}</span>
            <md-button ng-click="cancel()" style="margin-right: 20px">
                Закрыть
            </md-button>
            <md-button class="md-raised md-primary md-large-button" type="submit"
                       ng-style="task_insert_success && {'background-color':'#2da64d'}">
                <md-progress-linear ng-if="task_insert_pending" md-mode="indeterminate"></md-progress-linear>
                {{title}}
            </md-button>
        </div>

    </form>

</md-dialog>

<style>
    md-contact-chips {
        background-color: white;
    }

    .mini-button{
        padding: 10px;
        background-color: white;
    }
</style>