<div class="col align-start-center">
    <div class="col content flex">

        <div class="row path" style="margin-top: 24px">
            <a class="path-link" href="#/projects">Проекты</a>
            /
            <a class="path-link" href="#/project/{{project.project_code}}">{{project.project_name}} -
                {{project.project_department}}</a>
        </div>
        <div class="col">
            <h2 style="margin: 20px 0">Открытые задачи</h2>

            <div class="md-whiteframe-8dp flex" id="sortlist">
                <md-content class="row grid-line align-start-center" ng-repeat="task in getOpened()"
                            task="{{task.task_id}}"
                            ng-click="open('project/' + task.project_code + '/task/' + task.task_id)"
                            style="padding: 0 12px">

                    <img src="{{ type_logo(task.task_type) }}" class="task-type"/>
                    <a href="#" style="margin-right: 12px">{{project.project_code}}-{{task.task_id}}</a>
                    {{task.task_title}}
                    <div class="flex"></div>
                    <div class="task-status" ng-style="statusStyle(task.task_status)">{{statuses[task.task_status]}}</div>
                    <md-content class="row" md-ink-ripple ng-repeat="worker in getWorkers(task.task_id)">
                        <img src="{{user_logo(worker.user_login)}}" class="user-logo"
                             onerror="this.onerror = null; this.src = 'img/user.svg'"/>
                    </md-content>
                </md-content>
            </div>
        </div>
        <div class="col" style="margin-top: 20px;" ng-if="getClosed().length > 0">
            <h2 style="margin: 20px 0">Заркытые задачи</h2>

            <div class="md-whiteframe-8dp flex">
                <md-content class="row grid-line align-start-center" ng-repeat="task in getClosed()"
                            ng-click="open('project/' + task.project_code + '/task/' + task.task_id)"
                            style="padding: 0 12px">

                    <img src="{{ type_logo(task.task_type) }}" class="task-type"/>
                    <a href="#" style="margin-right: 12px">{{project.project_code}}-{{task.task_id}}</a>
                    {{task.task_title}}
                    <div class="flex"></div>

                    <md-content class="row" md-ink-ripple ng-repeat="worker in getWorkers(task.task_id)">
                        <img src="{{user_logo(worker.user_login)}}" class="user-logo"
                             onerror="this.onerror = null; this.src = 'img/user.svg'"/>
                    </md-content>
                </md-content>
            </div>
        </div>
    </div>
</div>

<style>
    .task-status {
        padding: 4px;
        border-radius: 4px;
        color: white;
        margin-right: 20px
    }
</style>


<script src="test.js"></script>